<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/login.css">
    <script src="https://kit.fontawesome.com/8945ba6e2e.js" crossorigin="anonymous"></script>
</head>

<body>  
    <main>
        <form class="formulario" action="/" method="POST">
        <div class="login">
            <img class="logo" src="https://i.postimg.cc/yxqy1x1f/logo.png" alt="">
            <div class="container">
                <h2 class="container_title">Usuario</h2>
                <input class="container_name" type="text" placeholder="Ingrese su nombre de usuario">
                <h2 class="container_title">Contraseña</h2>
                <input class="container_password" type="text" placeholder="Ingrese su contraseña">
                <div class="container_checkbox">
                    <div>
                        <input type="checkbox">
                        <span>Recordarme</span>
                    </div>
                    <button class="container_enter">Entrar</button>
                </div>
                <p class="password">Olvidé mi contraseña</p>
                
            </div>
            
            <button class="return" type="submit">
                <i class="fa-solid fa-arrow-left"></i>
                Regresar a ReeadNi
            </button>
            
        </div>
        
    </form>
        
    </main>
</body>

</html>