<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300&family=Roboto:wght@100;400&family=Rubik+Marker+Hatch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/register.css">
    <script src="https://kit.fontawesome.com/8945ba6e2e.js" crossorigin="anonymous"></script>
</head>

<header>
    <!--------- BARRA NAVEGADOR DESKTOP ---------->
    <div class="interior">
        <a href="/" class="logo-header-desk1" target="blank">
            <img src="https://i.postimg.cc/7YbJJNCj/logo-negro.jpg" alt="Logo">
        </a>
        <div class="container-busqueda">
            <input class="bar-busqueda" type="text" placeholder="Buscar">
            <i class="fa-solid fa-magnifying-glass"></i>
            
        </div>
        <nav class="navegacion">
            <ul>
                <li>
                    <a href="register.html" target="blank">Registrate
                    <i class="fa-solid fa-id-card"></i>
                    </a>
                </li>
                <li>
                    <a href="login.html" target="blank">Iniciar Sesion
                    <i class="fa-solid fa-user"></i>
                    </a>
                </li>
                <li>
                    <a href="productCart.html" target="blank">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="interior2">
        <nav class="navegacion2">
            <ul>
                <li>
                    <a href="" target="blank">Hombres</a>
                </li>
                <li>
                    <a href="" target="blank">Mujeres</a>
                </li>
                <li>
                    <a href="" target="blank">Niños</a>
                </li>
                <li class="submenu">
                    <a href="" target="blank">Productos</a>
                    <ul class="hijos">
                        <li><a href="">Reebok</a></li>
                        <li><a href="">Adidas</a></li>
                        <li><a href="">Nike</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <main class="main">
        <a href="/">
            <img class="logo" src="https://i.postimg.cc/yxqy1x1f/logo.png" alt="logo-reeadni">
        </a>        
        <form class="container" action="/" method="POST">
            <h1 class="title">Suscríbete</h1>
            <input class="campo" type="text" placeholder="Nombres">
            <input class="campo" type="text" placeholder="Apellidos">
            <input class="campo" type="email" placeholder="Correo Electrónico">
            <input class="campo" type="number" placeholder="Télefono Celular">
            <select class="campo" name="" id="">
                <option value="none" disabled selected>Elija su tipo de documento </option>
                <option value="tarjeta">Tarjeta de identidad</option>
                <option value="cedula">Cédula de ciudadania</option>
                <option value="extranjera">Cédula extrenjera</option>
            </select>
            <input class="campo" type="number" placeholder="Número de Documento">
            <div class="container_date">
                <label class="date" for="fecha">Fecha de nacimiento</label>
                <input class="date" type="date" id="fecha" name="fDnacimiento" required>
            </div>
            <select class="campo" name="" id="">
                <option value="" disabled selected>Elija su género</option>
                <option value="mujer">Mujer</option>
                <option value="hombre">Hombre</option>
                <option value="otro">Otro</option>
                <option value="no">No quiero decirlo</option>
            </select>

            <div class="campo_terminos">
                <input type="checkbox" name="tipousuario" required>
                <span class="important">Acepto los términos y condiciones</span> <span> y las</span><span class="important"> políticas de privacidad del sitio</span>
            </div>
            <div class="campo_terminos">
                <input type="checkbox" name="tipousuario" required>
                <span> Acepto resibir informacion sobre novedades, ofertas,descuentos, promociones,
                    eventos y mucho más</span>
            </div>
            <button class="button" type="submit">Enviar</button>
            
        </form>
    </main>
</body>

</html>