:root{
    --texto-principal: 'Roboto', sans-serif;
    --texto-segundario: 'Open Sans', sans-serif;
    --texto-comentarios: 'Indie Flower', cursive;
    --texto-tituloComentarios: 'Rubik Marker Hatch', cursive;;
    --color-fondo: #ffffff;
    --color-grisTenue: #f5f5f5;
    --color-gris: #7e7e7e;
    --color-oscuro: #111111;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    /*esto es para que un rem equivale a 1.0; 1rem= 10px; 1.8rem= 18px;*/
    font-size: 62.5%;
}

/*----------------BARRA NAVEGADOR DESKTOP----------------------------*/
header{
    position: sticky;
    top: 0;
}

.interior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
	padding: 0 1rem;
	margin: auto;
    background-color: #000000;

}

.logo-header-desk1{
    width: 30rem;
    padding-left: 4rem;
}

.logo-header-desk1 img{
	height: 7rem; 
}

.logo-header-desk1 img:hover{
	transform: scale(1.1); /* Para tener acercamiento */
}

.container-busqueda{
    display: flex;
    color: var(--color-gris);
}

.bar-busqueda{
    position: relative;
    border-radius: 1rem;
    font-size: 1.8rem;
    padding-left: 3rem;
    border: 1px solid #dfe1e5;

}

.bar-busqueda:hover{
    transform: scale(1.1);
    border-color: var(--color-gris);
    transition: all 0.35s;
}


.container-busqueda i{
    position: absolute;
    color: var(--color-gris);
    font-size: 1.8rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.navegacion{
	display: flex;
	align-items: center;
	z-index: 1000;
}

.navegacion ul{
    display: flex;
	list-style: none;
	padding: 0 1rem;
}
.navegacion ul li{
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}

.navegacion ul li:hover{
	transform: scale(1.1);
}

.navegacion ul li a{
	color: var(--color-fondo);
	text-align: center;
	text-transform: uppercase;
	font-size: 1.8rem;
    font-family: var(--texto-tituloComentarios);
	padding: 12px 20px;
	transition: .3s linear;
}

/* .fa-cart-shopping{
    color: var(--color-fondo);
} */


.navegacion ul li a:hover{
	color: var(--color-gris);
	transform: scale(1.1);
}

/* INTERIOR2 */

.interior2{
    display: flex;
    width: 100%; 
    height: 5rem;
	padding: 0 10px;   
    justify-content: center;
    align-items: center;
    background-color: var(--color-gris);
}

.navegacion2{
    width: 55%;   
	z-index: 1000;
}

.navegacion2 ul{
    display: flex;
    width: 100%;
	list-style: none;
	padding: 0 1rem;
    justify-content:space-between;

}

.navegacion2 ul li{
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}

.navegacion2 ul li:hover{
	transform: scale(1.1);
}

.navegacion2 ul li a{
	color: var(--color-fondo);
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-size: 1.8rem;
    font-family: var(--texto-tituloComentarios);
	padding: 1.2rem 2rem;
	transition: .3s linear;
}

.navegacion2 ul li a:hover{
	color: #444444;
	transform: scale(1.1);
}

.navegacion2 .submenu .hijos{
	display: none;
	background: var(--color-gris);
	position: absolute;
	width: 100%;
}

.navegacion2 ul li:hover .hijos{
	display: block;
}


.navegacion2 .submenu .hijos li{
	display: block;
	overflow:hidden;
	border-bottom: none;
}

.navegacion2 .submenu .hijos li a{
	display: block;
}


/*-------------------------------MENU DESPLEGABLE PARA CEL---------------------------------*/
.nav-cel-tablet {
    width: 100%;
    position: sticky;
    /*Con esto me permite fijar y bajar hasta donde termina el header*/
    top: 0;
    /*lo deja fijo hacia arriba*/
    background-color: #ffffff;
}

.main-content {
    padding-top: 1rem;
}

.nav-cel-tablet {
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.container-logoHeader {
    margin: 0 auto;
}

.header_logo {
    width: 16rem;
    height: 6rem;
}

.bar-btn {
    width: 12rem;
    margin-left: 4rem;
    font-size: 2.5rem;
    color: #111111;
    cursor: pointer;
}

.icon-user {
    width: 12rem;
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    margin-right: 2rem;
}

.icon-user i{
    color: #000000;
}

.nav-menu {
    position: fixed;
    display: none;
    width: 100%;
    height: calc(100vh - 8rem);
    top: 8rem;
    background: rgba(0, 0, 0);
    text-align: center;
    transition: all .5s;
}

.hamburger_logo {
    width: 16rem;
    height: 10rem;
    margin: 0 auto;
}


.hamburger_logo:hover {
    transform: scale(1.4);
    transition: .6s;
}

.nav-menu li {
    line-height: 3rem;
    margin: 3rem 0;
    transition: all 1.5s;
}

.nav-menu li a {
    color: #ffffff;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
}

.nav-menu li a:hover {
    color: var(--color-gris);
    transition: .6s;
}

#checkbox {
    display: none;
}

#checkbox:checked~.nav-menu {
    display: block;
}

@media (max-width: 768px) {
.interior{
    display: none;
}

.interior2{
    display: none;
}
}

@media (min-width: 769px) { 

    .nav-cel-tablet{
        display: none;
    }
}