/* ------ Login y register ----- */

.recuperar-password-container {
    text-transform: uppercase;
  }
  
  .recuperar-password-container {
    position: relative;
    height: 170vh;
    width: 100%;
    background-color: aquamarine;
    /* background: url(../img/login/login1.jpg);
    background-size: cover;
    background-position: center center; */
  }
  
  .recuperar-password-container .usuario {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
    /* background: url(../img/login/login1.jpg);
    background-size: cover;
    background-position: center center; */
  }
  
  .pass-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    width: 45rem;
    padding: 5rem 3rem;
    border-radius: 1rem;
    box-shadow: 0.7rem 0.7rem 6rem #000;
  }
  
  .usuario-register-container h1 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    color: #fff;
  }
  
  .card input {
    width: 100%;
    display: block;
    padding: 1rem;
    color: #000;
    border: none;
    outline: none;
    margin: 1em 0;
  }
  
  .login-register-container label {
    color: #fff;
  }
  
  .card input[type="submit"] {
    background: var(--primario);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: 0.7;
    transform: opacity 0.3s ease;
  }
  
  .card input[type="submit"]:hover {
    opacity: 1;
  }
  
  .termino-condiciones {
    color: #fff;
  }
  
  .link-recuperar-password {
    text-align: center;
  }
  
  .link-recuperar-password a {
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .link-recuperar-password a:hover {
    opacity: 1;
  }
  
  .logo-usuario-register img {
    height: 200px;
    width: 350px;
  }
  
  .pass-container select {
      border-radius: 10px;
      width: 80%;
      text-transform: uppercase;
      text-align: center;
  }