<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link href="stylesheets/index.css" rel="stylesheet">
    <!-- libreria de slider movil -->
    <link href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" rel="stylesheet">     
    <title>ReeAdNi</title>
</head>

<body>
    <header>
        <!--------- BARRA NAVEGADOR CELULAR Y TABLET ---------->
    <%- include('./partials/headerMobile.ejs') %> 

        <!--------- BARRA NAVEGADOR DESKTOP ---------->
        
    <%- include('./partials/headerDesktop.ejs') %> 

        <!-----------  SECCION 1 CARDS DE HOMBRE - MUJER - NIÑOS ------------------------>
        <section class="content-section-genero">
            <h1 class="titulo-compra">¿Para Quién Compras?</h1>
            <div class="container-img-genero">
                <div class="container-genero">
                    <img src="https://i.postimg.cc/MG0ZdM6C/hombre1.jpg" alt="hombres">
                    <a href="#">Hombre</a>
                </div>
                <div class="container-genero">
                    <img src="https://i.postimg.cc/ZRTbgb0C/mujer.jpg" alt="mujeres">
                    <a href="#">Mujer</a>
                </div>
                <div class="container-genero">
                    <img src="https://i.postimg.cc/4dBfRDhw/ni-o4.jpg" alt="niños">
                    <a href="#">Niños</a>
                </div>
            </div>
        </section>
    </header>


    <main class="main-content"></main>
    <!---------------------- ACORDEON DE IMAGENES GRANDES 100% ---------------------->

    <section class="container-slider">
        <div class="carrousel-g">
            <div class="conteCarrousel-g">
                <div class="itemCarrousel-g" id="itemCarrousel-1g">
                    <div class="itemCarrouselTarjeta-g">
                        <img src="https://i.postimg.cc/ZKTKN03d/slider1.jpg" alt="slider1">
                    </div>
                    <div class="itemCarrouselArrows-g">
                        <a href="#itemCarrousel-3g">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-2g">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel-g" id="itemCarrousel-2g">
                    <div class="itemCarrouselTarjeta-g">
                        <img src="https://i.postimg.cc/wT0xQHcb/slider2.jpg" alt="slider2">
                    </div>
                    <div class="itemCarrouselArrows-g">
                        <a href="#itemCarrousel-1g">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-3g">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel-g" id="itemCarrousel-3g">
                    <div class="itemCarrouselTarjeta-g">
                        <img src="https://i.postimg.cc/htYSNrYL/slider3.png" alt="slider3">
                    </div>
                    <div class="itemCarrouselArrows-g">
                        <a href="#itemCarrousel-2g">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-4g">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel-g" id="itemCarrousel-4g">
                    <div class="itemCarrouselTarjeta-g">
                        <img src="https://i.postimg.cc/9Q0mxSLX/slider4.jpg" alt="slider4">
                    </div>
                    <div class="itemCarrouselArrows-g">
                        <a href="#itemCarrousel-3g">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-5g">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel-g" id="itemCarrousel-5g">
                    <div class="itemCarrouselTarjeta-g">
                        <img src="https://i.postimg.cc/PqjjG5H4/slider5.jpg" alt="slider5">
                    </div>
                    <div class="itemCarrouselArrows-g">
                        <a href="#itemCarrousel-4g">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-6g">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel-g" id="itemCarrousel-6g">
                    <div class="itemCarrouselTarjeta-g">
                        <img src="https://i.postimg.cc/JhB18Xw9/slider6.jpg" alt="slider6">
                    </div>
                    <div class="itemCarrouselArrows-g">
                        <a href="#itemCarrousel-5g">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-1g">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="conteCarrouselController-g">
                    <a href="#itemCarrousel-1g">•</a>
                    <a href="#itemCarrousel-2g">•</a>
                    <a href="#itemCarrousel-3g">•</a>
                    <a href="#itemCarrousel-4g">•</a>
                    <a href="#itemCarrousel-5g">•</a>
                    <a href="#itemCarrousel-6g">•</a>
                </div>
            </div>
        </div>
    </section>

    <!-------  SECCION CARDS DE HOMBRE - MUJER - NIÑOS  (EN EL MAIN)--------->

    <section class="content-section-genero-main">
        <h1 class="titulo-compra">¿Para Quién Compras?</h1>
        <div class="container-img-genero">
            <div class="container-genero">
                <img src="https://i.postimg.cc/MG0ZdM6C/hombre1.jpg" alt="hombres">
                <a href="#">Hombre</a>
            </div>
            <div class="container-genero">
                <img src="https://i.postimg.cc/ZRTbgb0C/mujer.jpg" alt="mujeres">
                <a href="#">Mujer</a>
            </div>
            <div class="container-genero">
                <img src="https://i.postimg.cc/4dBfRDhw/ni-o4.jpg" alt="niños">
                <a href="#">Niños</a>
            </div>
        </div>
    </section>

    <!---------------- SECCION DE LOOKS ------------------------->
    <section class="container-looks">
        <div class="info-looks">
            <h1>COMPARTE TUS LOOKS</h1>
            <h2>Forma parte de la comunidad Reeadni</h2>
            <p>Mencionanos en tus fotos de instagram y facebook con <span>@Reeadni</span> y usar el hashtag
                <span>#lookReeadni</span>
            <p>
        </div>
        <!------------------ SLIDER MOVIL ----------------------->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://i.postimg.cc/vZLBRwCB/1.jpg"></div>
                <div class="swiper-slide"><img src="https://i.postimg.cc/HL6kx4Y1/2.jpg"></div>
                <div class="swiper-slide"><img src="https://i.postimg.cc/13ZtY3C2/3.jpg"></div>
                <div class="swiper-slide"><img src="https://i.postimg.cc/26XyHdM7/4.jpg"></div>
                <div class="swiper-slide"><img src="https://i.postimg.cc/QC2tD8XB/5.jpg"></div>
                <div class="swiper-slide"><img src="https://i.postimg.cc/hPmvrdrV/6.jpg"></div>
                <div class="swiper-slide"><img src="https://i.postimg.cc/5yY0DYMd/7.jpg"></div>
                <div class="swiper-slide"><img src="https://i.postimg.cc/gcQr8DvY/8.jpg"></div>
                <div class="swiper-slide"><img src="https://i.postimg.cc/vmYmbSdv/9.webp"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!-----------  SECCION 2 SLIDER DE PRODUCTOS DESTACADOS ---------->
    <div class="dest-title">
        <h1>Destacados</h1>
        <p>En Reeadmi Colombia <br>encuentras solo productos originales</p>
    </div>
    <!--  ACA EMPIEZA LAS IMAGENES DE LOS PRODUCTOS SLIDER -->
    <section class="container-destacados">
        <div class="carrousel">
            <div class="conteCarrousel">
                <!-- SLIDER 1 -->
                <div class="itemCarrousel" id="itemCarrousel-1">
                    <div class="itemCarrouselTarjeta">
                        <img src="https://i.postimg.cc/QNnD3yvB/ta-1.webp" alt="slider1">
                        <h1>Categoria 1</h1>
                        <a>esto es un link</a>
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-6">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-2">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- SLIDER 2 -->
                <div class="itemCarrousel" id="itemCarrousel-2">
                    <div class="itemCarrouselTarjeta">
                        <img src="https://i.postimg.cc/mDL4Lfb9/ta-2.webp" alt="slider2">
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-1">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-3">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- SLIDER 3 -->
                <div class="itemCarrousel" id="itemCarrousel-3">
                    <div class="itemCarrouselTarjeta">
                        <img src="https://i.postimg.cc/0QVsrWQB/ta-3.webp" alt="slider3">
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-2">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-4">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- SLIDER 4 -->
                <div class="itemCarrousel" id="itemCarrousel-4">
                    <div class="itemCarrouselTarjeta">
                        <img src="https://i.postimg.cc/VvTPWJX9/ta-4.webp" alt="slider4">
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-3">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-5">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- SLIDER 5 -->
                <div class="itemCarrousel" id="itemCarrousel-5">
                    <div class="itemCarrouselTarjeta">
                        <img src="https://i.postimg.cc/8csVvRfP/ta-5.webp" alt="slider5">
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-4">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-6">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- SLIDER 6 -->
                <div class="itemCarrousel" id="itemCarrousel-6">
                    <div class="itemCarrouselTarjeta">
                        <img src="https://i.postimg.cc/MKMSKY89/ta-6.webp" alt="slider6">
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-5">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-1">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- BOTONES PARA SELECCIONAR SLIDER -->
                <div class="conteCarrouselController">
                    <a href="#itemCarrousel-1">•</a>
                    <a href="#itemCarrousel-2">•</a>
                    <a href="#itemCarrousel-3">•</a>
                    <a href="#itemCarrousel-4">•</a>
                    <a href="#itemCarrousel-5">•</a>
                    <a href="#itemCarrousel-6">•</a>
                </div>
            </div>
        </div>

        <div class="detalleProducto">
            <h2>nombre de calzado</h2>
            <h3>precio</h3>
            <p>disponible</p>
        </div>
    </section>

    <!---------------- OTRO SECTION CON SLIDER -------------------------------->
    <section class="container-destacados">
        <div class="carrousel">
            <div class="conteCarrousel">
                <!-- SLIDER 7 -->
                <div class="itemCarrousel" id="itemCarrousel-7">
                    <div class="itemCarrouselTarjeta">
                        <img src="https://i.postimg.cc/GpYPcVMb/j1.jpg" alt="slider7">
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-12">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-8">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- SLIDER 8 -->
                <div class="itemCarrousel" id="itemCarrousel-8">
                    <div class="itemCarrouselTarjeta">
                        <img src="https://i.postimg.cc/xC2vq57M/j2.jpg" alt="slider8">
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-7">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-9">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- SLIDER 9 -->
                <div class="itemCarrousel" id="itemCarrousel-9">
                    <div class="itemCarrouselTarjeta">
                        <img src="https://i.postimg.cc/RZWQYNK6/j3.jpg" alt="slider9">
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-8">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-10">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- SLIDER 10 -->
                <div class="itemCarrousel" id="itemCarrousel-10">
                    <div class="itemCarrouselTarjeta">
                        <img src="https://i.postimg.cc/rFnNgS02/j4.jpg" alt="slider10">
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-9">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-11">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- SLIDER 11 -->
                <div class="itemCarrousel" id="itemCarrousel-11">
                    <div class="itemCarrouselTarjeta">
                        <img src="https://i.postimg.cc/vBtWn9Fj/j5.jpg" alt="slider11">
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-10">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-12">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- SLIDER 12 -->
                <div class="itemCarrousel" id="itemCarrousel-12">
                    <div class="itemCarrouselTarjeta">
                        <img src="https://i.postimg.cc/QdvkZhJ6/j6.webp" alt="slider12">
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-11">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        <a href="#itemCarrousel-7">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- BOTONES PARA SELECCIONAR SLIDER -->
                <div class="conteCarrouselController">
                    <a href="#itemCarrousel-7">•</a>
                    <a href="#itemCarrousel-8">•</a>
                    <a href="#itemCarrousel-9">•</a>
                    <a href="#itemCarrousel-10">•</a>
                    <a href="#itemCarrousel-11">•</a>
                    <a href="#itemCarrousel-12">•</a>
                </div>
            </div>
        </div>

        <div class="detalleProducto">
            <h2>nombre de calzado</h2>
            <h3>precio</h3>
            <p>disponible</p>
        </div>
    </section>
    <!----------------------SlideBar Infinito--------------------->
    <div class="slider-infinito">
        <div class="slider-track">
            <div class="slider-logos">
                <img src="https://i.postimg.cc/7YbJJNCj/logo-negro.jpg" alt="logo-reeadni">
            </div>
            <div class="slider-logos">
                <img src="https://i.postimg.cc/Dzz9rxLk/logo-reebok.png" alt="logo-reebok">
            </div>
            <div class="slider-logos">
                <img src="https://i.postimg.cc/Dw7kZvzz/logo-adidas.jpg" alt="logo-adidas">
            </div>
            <div class="slider-logos">
                <img src="https://i.postimg.cc/dt2cwkwX/logo-nike.png" alt="logo-nike">
            </div>
            <div class="slider-logos">
                <img src="https://i.postimg.cc/7YbJJNCj/logo-negro.jpg" alt="logo-reeadni">
            </div>
            <div class="slider-logos">
                <img src="https://i.postimg.cc/Dzz9rxLk/logo-reebok.png" alt="logo-reebok">
            </div>
            <div class="slider-logos">
                <img src="https://i.postimg.cc/Dw7kZvzz/logo-adidas.jpg" alt="logo-adidas">
            </div>
            <div class="slider-logos">
                <img src="https://i.postimg.cc/dt2cwkwX/logo-nike.png" alt="logo-nike">
            </div>
            <div class="slider-logos">
                <img src="https://i.postimg.cc/7YbJJNCj/logo-negro.jpg" alt="logo-reeadni">
            </div>
            <div class="slider-logos">
                <img src="https://i.postimg.cc/Dzz9rxLk/logo-reebok.png" alt="logo-reebok">
            </div>
            <div class="slider-logos">
                <img src="https://i.postimg.cc/Dw7kZvzz/logo-adidas.jpg" alt="logo-adidas">
            </div>
            <div class="slider-logos">
                <img src="https://i.postimg.cc/dt2cwkwX/logo-nike.png" alt="logo-nike">
            </div>
        </div>
    </div>
    <!---------------- Termina slideBar-Infinito------------------------->
    </main>
    <footer class="container-footer">
        <%- include('./partials/footer.ejs') %> 
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="/javascripts/slider.js"></script>
</body>

</html>