<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300&family=Roboto:wght@100;400&family=Rubik+Marker+Hatch&display=swap" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/stylesheets/loginregister.css" rel="stylesheet">
    <link href="/stylesheets/footer.css" rel="stylesheet">
    <link href="styles/normalize.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8945ba6e2e.js" crossorigin="anonymous"></script>
</head>

<body> 
    <main class="login-register-container">
        <section class="registro">
            <div class="form-container">
                <a href="/"><i class="fa-solid fa-circle-left fa-2x"></i></a>
                <h1>registro</h1>
                <form action="/register" method="POST">
                    <div class="control">
                        <label for="nombre">Nombre completo</label>
                        <input type="text" name="nombre" id="nombre" value=usuario ? usario.nombre: ''>
                    </div>
                    <div class="control">
                        <label for="email">Correo electrónico</label>
                        <input type="email" name="email" id="email" value=usuario ? usario.email: ''>
                    </div>
                    <div class="control">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="control">
                        <label for="repetir_password">Repite La contraseña</label>
                        <input type="password" name="repetir_password" id="repetir_password">
                    </div>
                    <div class="control">
                        <label for="cellphone">Numero telefonico</label>
                        <input type="tel" name="cellphone" id="cellphone">
                    </div>
                    <div class="control">
                        <label for="direccion">Direccion de la vivienda</label>
                        <input type="text" name="direccion" id="direccion">
                    </div>

                    <span class="termino-condiciones"><input type="checkbox">Aceptas los terminos y condiciones de nuestro servicio</span>
                    <div class="control">
                        <input type="submit" value="Terminar el Registro">
                    </div>
                </form>
                <div class="link-forgot-password">
                    <a href="/login">Ya tienes una cuenta?</a>
                </div>
            </div>
        </section>
    </main>


</body>
</html>