<!DOCTYPE html>
<html lang="es"> 

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300&family=Roboto:wght@100;400&family=Rubik+Marker+Hatch&display=swap" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/stylesheets/loginregister.css" rel="stylesheet">
    <link href="/stylesheets/footer.css" rel="stylesheet">
    <link href="styles/normalize.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8945ba6e2e.js" crossorigin="anonymous"></script>
</head>

<body> 
    <main class="login-register-container">
        <section class="login">
            <div class="form-container">
                <a href="/"><i class="fa-solid fa-circle-left fa-2x"></i></a>
                <h1>Recupera tu contraseña aquí</h1>
                <form method="POST" action="/login">
                    <div class="control">
                        <label for="password">Nueva contraseña</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="control">
                        <input type="submit" value="Cambiar Contraseña">
                    </div>
                </form>
            </div>
        </section>
    </main>



</body>
</html>