<div class="interior">
    <a href="/" class="logo-header-desk1" target="blank" >
        <img src="https://i.postimg.cc/7YbJJNCj/logo-negro.jpg" alt="Logo">
    </a>
    <div class="container-busqueda">
        <input class="bar-busqueda" type="text" placeholder="Buscar">
        <i class="fa-solid fa-magnifying-glass"></i>

    </div>
    <nav class="navegacion">
        <ul>
            <li>
                <a href="register" target="blank">Registrate
                    <i class="fa-solid fa-id-card"></i>
                </a>
            </li>
            <li>
                <a href="login" target="blank">Iniciar Sesion
                    <i class="fa-solid fa-user"></i>
                </a>
            </li>
            <li>
                <a href="productCart" target="blank">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="interior2">
    <nav class="navegacion2">
        <ul>
            <li>
                <a href="" target="blank">Hombres</a>
            </li>
            <li>
                <a href="" target="blank">Mujeres</a>
            </li>
            <li>
                <a href="" target="blank">Niños</a>
            </li>
            <li class="submenu">
                <a href="productDetail" target="blank">Productos</a>
                <ul class="hijos">
                    <li><a href="">Reebok</a></li>
                    <li><a href="">Adidas</a></li>
                    <li><a href="">Nike</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>