:root {  
    --primary-color: #eac926;
    --color-azul: #03264c;
    --color-celeste: #1259c3;
    --color-grisOscuro: #666;
    --color-grisClaro: #ebebeb;
    --color-verde: #39b54a;
    --family: "sans-serif";
    --cuerpo-texto: 1.2rem;
    --titulares-texto: 2.4rem;
    --precios-texto: 1.8rem;
    --descuentos-texto: 1.6rem;
    --descripciones-texto: 1.6rem;
    --texto-principal: 'Roboto', sans-serif;
    --texto-segundario: 'Open Sans', sans-serif;
    --texto-comentarios: 'Indie Flower', cursive;
    --texto-tituloComentarios: 'Rubik Marker Hatch', cursive;;
    --color-fondo: #ffffff;
    --color-grisTenue: #f5f5f5;
    --color-gris: #7e7e7e;
    --color-oscuro: #111111;    
}  

/*para q no se añada el padding y el border de mas y no genere scroll*/
* {
    box-sizing: border-box;     
    padding: 0;
    margin: 0;
}

.a{
    text-decoration: none;
    color: black;
    font-size: var(--cuerpo-texto); 
    margin-left: 1%;
 
}
.a:hover{
text-decoration: underline;

}
.a2 {
    text-decoration: none;
    color:#666;
    font-size: var(--family);
    margin-left: 2%;
}

.a2:hover {
    text-decoration: underline;
}

.calzado-zapatos{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color:white;
}

.navbar-final{
    border-bottom: solid 1px grey;
    padding-bottom: 15px;
    flex-direction: row;
    color: black;
} 


.texto-calzado {
    font-style: italic;
    font: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5rem;
    margin-left: 2%;
}

.texto-catálogo {
    padding-bottom: 3%;
    opacity: 0.7;
    font-size: var(--family);
    margin-left: 2%;
}

.banner{
    width: 100%;
    margin-top: 2.5%;
}

.banner img {
    width: 100%;
    
}

.section-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
    }

.imageproducto{
    width: 80%;
    border: solid 1px black;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}

.imageproducto img{
    width: 100%; 
}

/* // efectos en las cardas // */

.imageproducto:hover{
    transform: scale(1.1);
}

.textoprecio{
    padding: 10% 1% 10%;
}


.card{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
}

.card:hover{
    text-decoration: underline;
}

.addcar{
    background-color: #39b54a;
    padding: 2px 6px;
    color: #ebebeb;
    border-radius: 7px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    margin:3px 
}

.addvista{
    background-color: #1259c3;
    padding: 2px 6px;
    color: #ebebeb;
    border-radius: 7px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    margin:3px 
}


@media(max-width:361px){
    .section-container{
        display: flex;
        flex-wrap: row;  
}

.card.imageproducto img{
    box-shadow: 0px 0px 10px rgb(100, 100,100);
    width: 20%;
}

.header{
    display: none;
}

}

@media(max-width:361px)and (max-width: 769px){
.section-container{
    display: flex;
    flex-wrap: wrap;
} 

.card.imageproducto img{
    box-shadow: 0px 0px 10px rgb(100, 100,100);
    width: 60%;
    }
}


@media(max-width:770px) {
.section-container{
    display: flex;
    Flex-wrap: wrap;
} 

.card.imageproducto img{
    box-shadow: 0px 0px 10px rgb(100, 100,100);
    width: 22%;
    }
}