* {    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    /*esto es para que un rem equivale a 1.0; 1rem= 10px; 1.8rem= 18px;*/
    font-size: 62.5%;
    text-decoration: none;
    list-style: none;
}

.logo{
    width: 300px;
    margin: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
text-align: center;
width: 300px;
text-align: center;
}
.campo{
    width: 240px;
    padding: 5px;
    margin-top: 10px;
}

.container_date{
    margin-top: 5px;
}
.date{
    width: 240px;
    padding: 5px;
    display: block;
}
.campo_terminos{
    width: 250px;
    margin-top: 10px;
    text-align: left;
}
.important{
    color: brown;
}
.button{
    margin-top: 10px;
    width: 250px;
    padding: 7px;
    background-color: black;
    color: white;
}
