<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../partials/head.ejs') %>
   <link href="/stylesheets/header.css" rel="stylesheet">
   <link href="/stylesheets/footer.css" rel="stylesheet">
   <link href="/stylesheets/productList.css" rel="stylesheet">
   <link href="/styles/normalize.css" rel="stylesheet">
   <title>Lista de productos</title>
</head>

<body>
   <header>
   <!--------- BARRA NAVEGADOR CELULAR Y TABLET ---------->
   <%- include('../partials/headerMobile.ejs') %> 

   <!--------- BARRA NAVEGADOR DESKTOP ---------->
   <%- include('../partials/headerDesktop.ejs') %> 
   </header>

   <section class="calzado-zapatos">
      <div class="texto-calzado">
         <h1> CALZADO Y ZAPATOS PARA HOMBRE </h1>
      </div>
      <div class="texto-catálogo">
         <H4> Un amplio catálogo de calzado de hombre adidas con los mejores diseños exclusivos y tecnología.</H4>
      </div>
      <div class="navbar-final">
         <nav>
            <a class="a2" href="#"> Ver todo el calzado </a>
            <a class="a2" href="#"> Novedades </a>
            <a class="a2" href="#"> Runing </a>
            <a class="a2" href="#"> Training </a>
            <a class="a2" href="#"> Tennis </a>
            <a class="a2" href="#"> Originals </a>
            <a class="a2" href="#"> Performance </a>
            <a class="a2" href="#"> Superstar </a>
            <a class="a2" href="#"> Forum </a>
            <a class="a2" href="#"> Zx </a>
            <a class="a2" href="#"> Outlet </a>
      </div>
   </section>

   <main class="container">
      <div class="banner">
         <img src="https://i.postimg.cc/NfC70XSw/images.jpg" alt=" banner">
      </div>

      <section class="section-container">
         <div>
            <a class="card" href="#">
               <div class="imageproducto">
                  <img src="https://i.postimg.cc/QdPbf7Jq/adidas-performance-0763.jpg" alt="adidas gris">
               </div>
               <div class="textoprecio">
                  <h4>Adidas Performance</h4>
                  <p> Tennis Runing Gris Multicolor</p>
                  <p> $520.900</p>
                  <a href="productCart.html">
                  <span class="addcar"> Agregar al carrito </span><span class="addvista">Vista</span>
                  </a>
               </div>
            </a>
         </div>

         <div class="cardproducto">
            <a class="card" href="#">
               <div class="imageproducto">
                  <img src="https://i.postimg.cc/rwzjGjxm/adidas-performance-3007.jpg" alt="adidas Azul">
               </div>
               <div class="textoprecio">
                  <h4>Adidas Performance</h4>
                  <p> Tennis Runing Azúl</p>
                  <p> $520.900</p>
                  <span class="addcar"> Agregar al carrito </span><span class="addvista">Vista</span>
               </div>
            </a>
         </div>

         <div class="cardproducto">
            <a class="card" href="#">
               <div class="imageproducto">
                  <img src="https://i.postimg.cc/fb9vpbHQ/adidas-performance-3089.jpg" alt="adidas gris">
               </div>
               <div class="textoprecio">
                  <h4>Adidas Originals</h4>
                  <p> Tennis Runing Gris Multicolor</p>
                  <p> $520.900</p>
                  <span class="addcar"> Agregar al carrito </span><span class="addvista">Vista</span>
               </div>
            </a>
         </div>

         <div class="cardproducto">
            <a class="card" href="#">
               <div class="imageproducto">
                  <img src="https://i.postimg.cc/fb9vpbHQ/adidas-performance-3089.jpg" alt="adidas verde">
               </div>
               <div class="textoprecio">
                  <h4>Adidas Performance</h4>
                  <p> Tennis Runing Azúl Multicolor</p>
                  <p> $520.900</p>
                  <span class="addcar"> Agregar al carrito </span> <span class="addvista">Vista</span>
               </div>
            </a>
         </div>

         <div class="cardproducto">
            <a class="card" href="#">
               <div class="imageproducto">
                  <img src="https://i.postimg.cc/XJKkNzS2/adidas-performance-5807.jpg" alt="adidas negro">
               </div>
               <div class="textoprecio">
                  <h4>Adidas Performance</h4>
                  <p> Tennis Runing Negro</p>
                  <p> $520.900</p>
                  <span class="addcar"> Agregar al carrito </span><span class="addvista">Vista</span>
               </div>
            </a>
         </div>

         <div class="cardproducto">
            <a class="card" href="#">
               <div class="imageproducto">
                  <img src="https://i.postimg.cc/BbqcjBJJ/adidas-performance-5936.jpg" alt="adidas negro">
               </div>
               <div class="textoprecio">
                  <h4>Adidas Performance</h4>
                  <p> Tennis Training Negro</p>
                  <p> $520.900</p>
                  <span class="addcar"> Agregar al carrito </span><span class="addvista">Vista</span>
               </div>
            </a>
         </div>

         <div class="cardproducto">
            <a class="card" href="#">
               <div class="imageproducto">
                  <img src="https://i.postimg.cc/WzXmgq4g/adidas-performance-6614.jpg" alt="adidas gris">
               </div>
               <div class="textoprecio">
                  <h4>Adidas Zx</h4>
                  <p> Tennis Runing Negro</p>
                  <p> $520.900</p>
                  <span class="addcar"> Agregar al carrito </span><span class="addvista">Vista</span>
               </div>
            </a>
         </div>

         <div class="cardproducto">
            <a class="card" href="#">
               <div class="imageproducto">
                  <img src="https://i.postimg.cc/G3QxZVjt/adidas-performance-6885.jpg" alt="adidas gris">
               </div>
               <div class="textoprecio">
                  <h4>Adidas Originals</h4>
                  <p> Tennis Runing Negro</p>
                  <p> $520.900</p>
                  <span class="addcar"> Agregar al carrito </span><span class="addvista">Vista</span>
               </div>
            </a>
         </div>

         <div class="cardproducto">
            <a class="card" href="#">
               <div class="imageproducto">
                  <img src="https://i.postimg.cc/8PzmD4yH/adidas-performance-7624.jpg" alt="adidas negro">
               </div>
               <div class="textoprecio">
                  <h4>Adidas Originals</h4>
                  <p> Tennis Training Negro</p>
                  <p> $520.900</p>
                  <span class="addcar"> Agregar al carrito </span><span class="addvista">Vista</span>
               </div>
            </a>
         </div>
      </section>
   </main>
   <footer class="container-footer">
      <%- include('../partials/footer.ejs') %> 
   </footer>

</body>

</html>