<!DOCTYPE html>
<html lang="es"> 

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300&family=Roboto:wght@100;400&family=Rubik+Marker+Hatch&display=swap" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/stylesheets/recuperar-password.css" rel="stylesheet">
    <link href="/stylesheets/footer.css" rel="stylesheet">
    <link href="styles/normalize.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8945ba6e2e.js" crossorigin="anonymous"></script>
</head>

<body> 
    <main class="recuperar-password-container">
        <section class="usuario">
            <div class="pass-container">
                <a href="/"><i class="fa-solid fa-circle-left fa-2x"></i></a>
                <h1>Recuperar contraseña</h1>
                <form action="#">
                    <div class="card">
                        <label for="email">Correo electrónico</label>
                        <input type="email" name="email" id="email">
                    </div>
                    
                    <div class="card">
                        <input type="submit" value="Recuperar contraseña">
                    </div>
                </form>
                
                <div class="link-recuperar-password">
                    <a href="/register">¿No tienes una cuenta? Crea una</a>
                </div>
                <div class="link-recuperar-password">
                    <a href="/register">¿Ya tiene una cuenta? Inicia sesión</a>
                </div>
            </div>
        </section>
    </main>



</body>
</html>