<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/confirmacionCuenta.css" rel="stylesheet" >
    <title>Cuenta creada Readni</title>
</head>
<body>
    <main>
        <div class="container">
            <img src="https://i.postimg.cc/yxqy1x1f/logo.png" alt="Logo">
            <h2>Reestablece tu contraseña</h2>
            <h3>Hemos enviado un email con las instrucciones</h3>
            <a class="btn" href="/">Volver al Inicio</a>
        </div>
    </main>

</body>
</html>